.env.*
!.env.example

node_modules/
vendor/
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

.git/
.gitignore

docker-compose*.yml
Dockerfile
k8s/
infra/

*.md
tests/
.phpunit*
phpunit.xml*
